# Some exploratory data analysis

## Load

In [1]:
import seaborn as sns
from sklearn.datasets import load_iris

In [2]:
df = load_iris(as_frame=True)['data']

## Clean

In [3]:
df

     sepal length (cm)  sepal width (cm)  petal length (cm)  petal width (cm)
0                  5.1               3.5                1.4               0.2
1                  4.9               3.0                1.4               0.2
2                  4.7               3.2                1.3               0.2
3                  4.6               3.1                1.5               0.2
4                  5.0               3.6                1.4               0.2
..                 ...               ...                ...               ...
145                6.7               3.0                5.2               2.3
146                6.3               2.5                5.0               1.9
147                6.5               3.0                5.2               2.0
148                6.2               3.4                5.4               2.3
149                5.9               3.0                5.1               1.8

[150 rows x 4 columns]

In [4]:
df.shape

(150, 4)

In [ ]:
df = df[df['petal length (cm)'] > 2]

In [ ]:
df.shape

## Plot

In [ ]:
sns.histplot(df['petal length (cm)'])

## Plot2

In [ ]:
sns.histplot(df['petal length (cm)'],main='Petal length (cm)')